.container-birra {
    padding-top: 15px;
}

.container-birra .container-birra__search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-name img {
    max-width: 15px;
    margin-right: 10px;
}

.pagination-footer {
    display: flex;
    justify-content: flex-end;
}

.loader {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}